/* -------------------------------------------

main

------------------------------------------- */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgba(77, 77, 77, 1);
    line-height: 170%;
}

@media screen and (max-width: 768px) {
    html,
    body {
        font-size: 14px;
    }
}

.mil-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.container,
.container-fluid {
    position: relative;
}

.mil-relative {
    position: relative;
}

.mil-o-hidden {
    overflow: hidden;
}

.mil-flex {
    display: flex;
}

section {
    position: relative;
}

/* -------------------------------------------

typography

------------------------------------------- */
h1,
.mil-h1,
h2,
.mil-h2,
h3,
.mil-h3,
h4,
.mil-h4,
h5,
.mil-h5,
h6,
.mil-h6 {
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    line-height: 120%;
}

h1,
.mil-h1 {
    font-size: 60px;
}

@media screen and (max-width: 992px) {
    h1,
    .mil-h1 {
        font-size: 46px;
    }
}

@media screen and (max-width: 768px) {
    h1,
    .mil-h1 {
        font-size: 42px;
    }
}

@media screen and (max-width: 576px) {
    h1,
    .mil-h1 {
        font-size: 32px;
    }
}

h2,
.mil-h2 {
    font-size: 46px;
}

@media screen and (max-width: 992px) {
    h2,
    .mil-h2 {
        font-size: 34px;
    }
}

@media screen and (max-width: 768px) {
    h2,
    .mil-h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 576px) {
    h2,
    .mil-h2 {
        font-size: 26px;
    }
}

h3,
.mil-h3 {
    font-size: 26px;
}

h4,
.mil-h4 {
    font-size: 22px;
}

@media screen and (max-width: 992px) {
    h4,
    .mil-h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    h4,
    .mil-h4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    h4,
    .mil-h4 {
        font-size: 16px;
    }
}

h5,
.mil-h5 {
    font-size: 18px;
}

@media screen and (max-width: 992px) {
    h5,
    .mil-h5 {
        font-size: 21px;
    }
}

@media screen and (max-width: 768px) {
    h5,
    .mil-h5 {
        font-size: 18px;
    }
}

h6,
.mil-h6 {
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    h6,
    .mil-h6 {
        font-size: 12px;
    }
}

.mil-text-xs {
    font-size: 12px;
}

.mil-text-sm {
    font-size: 14px;
}

.mil-text-lg {
    font-size: 17px;
    line-height: 220%;
}

.mil-text p {
    margin-bottom: 30px;
}

.mil-text p:last-child {
    margin-bottom: 0;
}

.mil-font-2 {
    font-family: 'Caveat', cursive;
}

.mil-shortened {
    padding-right: 15px;
}

.mil-upper {
    text-transform: uppercase;
}

.mil-bold {
    font-weight: 600;
}

.mil-thin {
    font-weight: 500;
}

blockquote {
    display: flex;
}

blockquote .mil-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: rgb(211, 47, 47);
}

blockquote .mil-quote-text {
    padding: 30px;
    border-left: solid 5px rgba(0, 0, 0, .05);
    border-image: repeating-linear-gradient(-45deg, transparent, transparent 1px, rgba(0, 0, 0, .05) 1px, rgba(0, 0, 0, .05) 3px) 5;
    width: calc(100% - 80px);
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 992px) {
    blockquote .mil-quote {
        display: none;
    }
    
    blockquote .mil-quote-text {
        width: 100%;
    }
}

.mil-text blockquote {
    display: block;
    position: relative;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: rgba(0, 0, 0, 1);
    padding-left: 80px;
}

@media screen and (max-width: 992px) {
    .mil-text blockquote {
        padding-left: 0;
    }
}

.mil-text blockquote:before,
.mil-text blockquote:after {
    content: '';
    position: absolute;
}

@media screen and (max-width: 992px) {
    .mil-text blockquote:before,
    .mil-text blockquote:after {
        display: none;
    }
}

.mil-text blockquote:before {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: rgb(211, 47, 47);
}

.mil-text blockquote:after {
    left: 28px;
    top: 28px;
    width: 24px;
    height: 24px;
    background-image: url('/img/icons/12.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.mil-text blockquote p {
    padding: 30px;
    border-left: solid 5px rgba(0, 0, 0, .05);
    border-image: repeating-linear-gradient(-45deg, transparent, transparent 1px, rgba(0, 0, 0, .05) 1px, rgba(0, 0, 0, .05) 3px) 5;
}

.mil-text blockquote code {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 15px;
    margin-top: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.mil-accent {
    color: rgb(211, 47, 47);
}

.mil-light {
    color: rgba(255, 255, 255, 1) !important;
}

.mil-light a {
    color: rgba(255, 255, 255, 1) !important;
}

.mil-dark {
    color: rgba(0, 0, 0, 1);
}

.mil-light-soft {
    color: rgba(255, 255, 255, .5);
}

.mil-light-soft a {
    color: rgba(255, 255, 255, .5) !important;
}

.mil-dark-soft {
    color: rgba(0, 0, 0, .5);
}

.mil-marker {
    background-color: rgb(211, 47, 47);
    padding: 0 5px;
}

.mil-center {
    text-align: center;
}

.mil-left {
    text-align: left;
}

.mil-right {
    text-align: right;
}

@media screen and (max-width: 576px) {
    .mil-sm-center {
        text-align: center;
    }
}

/* -------------------------------------------

suptitle

------------------------------------------- */
.mil-suptitle {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .mil-suptitle {
        font-size: 12px;
    }
}

.mil-suptitle:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 60px;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, .1);
    border-image: repeating-linear-gradient(-45deg, transparent, transparent 1px, rgba(0, 0, 0, .1) 1px, rgba(0, 0, 0, .1) 3px) 3;
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-suptitle.mil-light:after {
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, .1);
    border-image: repeating-linear-gradient(-45deg, transparent, transparent 1px, rgba(255, 255, 255, .1) 1px, rgba(255, 255, 255, .1) 3px) 3;
}

.mil-divider-sm {
    height: 5px;
    width: 60px;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, .1);
    border-image: repeating-linear-gradient(-45deg, transparent, transparent 1px, rgba(0, 0, 0, .1) 1px, rgba(0, 0, 0, .1) 3px) 3;
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-divider-lg {
    height: 5px;
    width: 100%;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, .1);
    border-image: repeating-linear-gradient(-45deg, transparent, transparent 1px, rgba(0, 0, 0, .1) 1px, rgba(0, 0, 0, .1) 3px) 3;
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-center .mil-suptitle:after {
    left: calc(50% - 30px);
}

.mil-center .mil-divider-sm {
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------

link

------------------------------------------- */
.mil-link {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .mil-link {
        font-size: 12px;
    }
}

.mil-link .mil-arrow {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background-color: rgb(211, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-link .mil-arrow.mil-light {
    background-color: rgba(255, 255, 255, 1);
}

.mil-link:hover .mil-arrow {
    margin-left: 20px;
}

.mil-link.mil-left-link {
    flex-direction: row-reverse;
}

.mil-link.mil-left-link .mil-arrow {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 15px;
}

.mil-link.mil-left-link:hover .mil-arrow {
    margin-left: 0;
    margin-right: 20px;
}




/* -------------------------------------------

button

------------------------------------------- */
.mil-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(211, 47, 47);
    color: rgba(0, 0, 0, 1);
    padding: 0 60px;
    height: 70px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    font-size: 15px;
}

.mil-button.mil-transparent-button {
    background-color: transparent;
    border: solid 1px rgba(0, 0, 0, 1);
}

.mil-button.mil-fw {
    width: 100%;
}

.mil-button.mil-sm {
    padding: 0 40px;
    height: 60px;
}

.mil-button:hover {
    filter: brightness(110%);
}

.mil-mini-button {
    background-color: transparent;
    border: solid 1px rgba(0, 0, 0, 1);
    padding: 0 15px;
    height: 35px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-mini-button:hover {
    background-color: rgb(211, 47, 47);
}

/* -------------------------------------------

breadcrumbs

------------------------------------------- */
.mil-breadcrumbs {
    display: flex;
}

.mil-breadcrumbs.mil-center {
    justify-content: center;
}

.mil-breadcrumbs li {
    list-style-type: none;
    color: rgba(255, 255, 255, 1);
}

.mil-breadcrumbs li a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-breadcrumbs li a:hover {
    color: rgb(211, 47, 47);
}

.mil-breadcrumbs li:after {
    content: '/';
    margin: 0 15px;
}

.mil-breadcrumbs li:last-child:after {
    display: none;
}

/* -------------------------------------------

list

------------------------------------------- */
.mil-hori-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.mil-hori-list li {
    list-style-type: none;
    margin-right: 20px;
}

.mil-hori-list li:last-child {
    margin-right: 0;
}

.mil-hori-list li a {
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-hori-list li a:hover {
    color: rgb(211, 47, 47);
}

@media screen and (max-width: 768px) {
    .mil-hori-list {
        flex-direction: column;
    }

    .mil-hori-list li {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .mil-hori-list li:last-child {
        margin-bottom: 0;
    }
}

.mil-list li, .mil-text ul li {
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.mil-list li:before, .mil-text ul li:before {
    content: '';
    display: inline;
    width: 6px;
    height: 6px;
    border: solid 1px rgba(0, 0, 0, 1);
    background-color: rgb(211, 47, 47);
    transform: rotate(45deg);
    margin-right: 15px;
}

.mil-list li .mil-additional-text, .mil-text ul li .mil-additional-text {
    opacity: .4;
}

.mil-list.mil-list-type-2 li, .mil-text ul.mil-list-type-2 li {
    padding-left: 25px;
    align-items: flex-start;
    flex-direction: column;
}

.mil-list.mil-list-type-2 li:before, .mil-text ul.mil-list-type-2 li:before {
    position: absolute;
    top: 9px;
    left: 0;
}

.mil-icon-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 15px;
    white-space: nowrap;
}

.mil-icon-list li:last-child {
    margin-bottom: 0;
}

.mil-icon-list li a {
    display: flex;
    align-items: center;
}

.mil-icon-list li img {
    background-color: rgba(229, 229, 229, 1);
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 50%;
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-icon-list li.mil-accent img {
    background-color: rgb(211, 47, 47);
}

.mil-icon-list li.mil-hover:hover img {
    background-color: rgb(211, 47, 47);
    margin-right: 30px;
}

/* -------------------------------------------

backgrounds

------------------------------------------- */
.mil-soft-bg {
    background-color: rgba(242, 242, 242, 1);
}

.mil-accent-bg {
    background-color: rgb(211, 47, 47);
}

/* -------------------------------------------

spaces

------------------------------------------- */
.mil-mb-5 {
    margin-bottom: 5px;
}

.mil-mb-10 {
    margin-bottom: 10px;
}

.mil-mb-15 {
    margin-bottom: 15px;
}

.mil-mb-20 {
    margin-bottom: 15px;
}

.mil-mb-30 {
    margin-bottom: 30px;
}

.mil-mb-40 {
    margin-bottom: 40px;
}

.mil-mb-60 {
    margin-bottom: 60px;
}

.mil-mb-80 {
    margin-bottom: 60px;
}

.mil-mb-90 {
    margin-bottom: 90px;
}

.mil-mb-120 {
    margin-bottom: 120px;
}

@media screen and (max-width: 992px) {
    .mil-mb-120 {
        margin-bottom: 90px;
    }
}

.mil-mt-suptitle-offset {
    margin-top: 65px !important;
}

@media screen and (max-width: 992px) {
    .mil-mt-suptitle-offset {
        margin-top: 30px !important;
    }
}

.mil-p-120-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media screen and (max-width: 992px) {
    .mil-p-120-120 {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.mil-p-120-90 {
    padding-top: 120px;
    padding-bottom: 90px;
}

@media screen and (max-width: 992px) {
    .mil-p-120-90 {
        padding-top: 90px;
        padding-bottom: 60px;
    }
}

.mil-p-120-0 {
    padding-top: 120px;
}

@media screen and (max-width: 992px) {
    .mil-p-120-0 {
        padding-top: 90px;
    }
}

.mil-p-0-120 {
    padding-bottom: 120px;
}

@media screen and (max-width: 992px) {
    .mil-p-0-120 {
        padding-bottom: 90px;
    }
}

.mil-p-90-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

@media screen and (max-width: 992px) {
    .mil-p-90-90 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.mil-p-120-60 {
    padding-top: 120px;
    padding-bottom: 60px;
}

@media screen and (max-width: 992px) {
    .mil-p-120-60 {
        padding-top: 90px;
        padding-bottom: 30px;
    }
}

.mil-p-0-60 {
    padding-bottom: 60px;
}

@media screen and (max-width: 992px) {
    .mil-p-0-60 {
        padding-bottom: 30px;
    }
}

.mil-p-0-90 {
    padding-bottom: 90px;
}

@media screen and (max-width: 992px) {
    .mil-p-0-90 {
        padding-bottom: 60px;
    }
}

.mil-p-0-30 {
    padding-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .mil-p-0-30 {
        padding-bottom: 0;
    }
}

.mil-p-120-30 {
    padding-top: 120px;
    padding-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .mil-p-120-30 {
        padding-top: 90px;
        padding-bottom: 0;
    }
}

.mil-adaptive-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 992px) {
    .mil-adaptive-right {
        justify-content: flex-start;
    }
}